:root {
  --primary-color: #087f5b;
  --secondary-color: #20c997;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  color: var(--primary-color);
}

.pagination {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

.btn {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.btn:hover,
.link:hover {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 50%;
}

.active {
  background-color: var(--primary-color);
  color: white;
  font-weight: 700;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
